body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  overflow: hidden;

  /* back */

  background: linear-gradient(-45deg, #ff910b, #ed1212, #461e89, hsla(0, 100%, 50%, 0.649));
  background-size: 400%, 400%;
}

h2 {
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px #813b3b, 0 0 20px #490f46, 0 0 40px #014385;
}

.magicButton {
  background: #703994;
  color: white;
  font-size: 15px;
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(38, 9, 206, 0.5);
  transition: transform 0.2s ease-in-out;
}

.magicButton:active {
  transform: scale(0.9);
}

label {
  display: block;
  text-align: left;
  margin: 10px 5px;
  font-weight: bold;
  color: #444;
}

input {
  width: 130px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.3s;
  margin-bottom: 15px;
}

input:focus {
  border-color: #3500e2;
  outline: none;
  box-shadow: 0 0 5px rgba(218, 24, 3, 0.5);
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 2);
  width: 350px;
  text-align: center;
} 
 
.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(12, 140, 226);
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(2, 27, 91);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.1s ease-in-out;
}

/* No CSS alterei o Display para Flex para permitir que os elementos do Input e Label pudessem ficar na mesma linha

Utilizei o Margin-Bottom para criar um espaçamento entre os campos do formulario

Width para ocupar toda a largura do formulario

Align-Items, para o Label ficar alinhado com o Input, antes de usar ele os Input estavam ficando um pouco abaixo dos Label
*/

.campo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
